body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    background-image: url('../imagens/computer-416569_1920.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.main-left, .main-right {
    flex: 1;
    /* tamanho minimo para conteudo */
    min-width: 290px; 
}

.main-right {
    margin-left: 20px;
}

h1, h2 {
    color: #0056b3;
    /* tamanho da fonte responsiva */
    font-size: calc(1.4rem + 0.5vw); 
}

p, li {
    font-size: calc(0.9rem + 0.3vw);
    line-height: 1.6;
    margin-bottom: 0.75rem;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

ul {
    margin: 0;
    padding: 0;
    list-style: inside square;
}

li {
    margin-bottom: 0.5rem;
}

.img-container {
    text-align: right;
    margin-top: 3rem;
}

.img-container img {
    max-width: 100%;
    height:max-content;
    border-radius: 50%;
    max-width: 130px; /* Limiting maximum width */
   margin-right: 120px;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 1rem;
        padding: 1rem;
    }

    .main-right {
        margin-left: 0;
        margin-top: 20px;
    }
}