* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    background-image: url('../imagens/computer-416569_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudo-esquerda,
.conteudo-direita {
    flex: 1;
    /* tamanho minimo para conteudo */
    min-width: 290px;
}

h1,
h2 {
    color: #0C0C0C;
    /* tamanho da fonte responsiva */
    font-size: calc(1.4rem + 0.5vw);
    margin-left: 0.4rem;
}

h1 {
    text-align: center;
}

p,
li {
    font-size: calc(0.9rem + 0.3vw);
    line-height: 1.6;
    margin-bottom: 0.75rem;
    margin-left: 0.4rem;
}

/* pegando o primeiro paragrafo do tipo para modificação */
/* p:first-of-type{
    text-align: center;
} */

.bold {
    font-weight: 600;
}

.italic,
.whatsapp {
    font-style: italic;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: inside square;
}

li {
    margin-bottom: 0.5rem;
}

.img-container {
    text-align: center;
    margin-top: 3rem;
}

.img-container img {
    max-width: 100%;
    border-radius: 50%;
    /* limitando a largura maxima */
    height: 150px;
    width: 150px;

}

header {
    background-color: #434242;
    color: #fff;
    border-radius: 8px;
}

h1 {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.redes a {
    color: #0C0C0C;

}

@media screen and (max-width: 768px) {
    .container {
        margin: 1rem;
        padding: 1rem;
    }

    .conteudo-direita {
        margin-left: 0;
        margin-top: 20px;
    }
}